@model IEnumerable<AdrenalineDP.Entities.ServiceRequest>

@{
    ViewData["Title"] = "Index";
}


<h1>Резервации</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-success">Добавяне на резервация</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReserveDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegisterDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Full_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Service.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReserveDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Message)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegisterDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary">Редактиране</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-dark">Детайли</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class=" btn btn-outline-danger">Изтриване</a>
                </td>
            </tr>
        }
    </tbody>
</table>
