@model AdrenalineDP.Entities.Services

@{
    ViewData["Title"] = "Изтриване";
}
@if (User.IsInRole("Admin") == false)
{
    throw new InvalidOperationException("Нямате нужния достъп, за да редактирате тук!");
}
<div class="text-center">
    <h1>Изтриване</h1>

    <h3>Сигурни ли сте,че искате да премахнете тази услуга?</h3>
    <hr />
</div>
<div class="col-md-7 offset-md-3">


    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageURL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImageURL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateJoined)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateJoined)
        </dd>
    </dl>
</div>
<div class="text-center">
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Изтриване" class="btn btn-danger btn-outline-warning" /> |
        <a asp-action="Index" class="btn btn-outline-secondary"><i class="fa-solid fa-hand-point-left fa-lg"></i> Обратно към листа</a>
    </form>
</div>

