@model AdrenalineDP.Entities.Services
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore
@using AdrenalineDP.Data
@using AdrenalineDP.Entities


@inject SignInManager<Users> SignInManager
@inject UserManager<Users> UserManager

@{
    ViewData["Title"] = "Details";
}
<style>
    .absolute {
        position: absolute;
        top: 10%;
        left: 5%;

    }
    body {
        background: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.3)),url( @Model.ImageURL );
        background-size: cover;

    }
    .description {
        background:linear-gradient(rgba(128 128 128 / 0,56));
        border-radius: 15px;
        color: white;
        font-size: large;

    }

</style>
 
<div class="text-center">
    <h1 class="text-white">@Model.Name</h1><br /><br />

    <div class="col-md-4 offset-md-4">
        <br /><br /><br />
        <div class="description">
            <h3>@Html.DisplayNameFor(model => model.Description)</h3>
            <p>@Model.Description</p>
            <br />
            <h3>@Html.DisplayNameFor(model => model.Location) : @Model.Location</h3>
            <br />
            <h3>@Html.DisplayNameFor(model => model.Price) : @Model.Price лв</h3>
            <br />
            <h3>@Html.DisplayNameFor(model => model.DateJoined) : @Model.DateJoined</h3>
            <br />
        </div>


        @if (SignInManager.IsSignedIn(User) && await UserManager.IsInRoleAsync(UserManager.GetUserAsync(User).Result, "admin"))
        {
            <div>
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-primary"><i class="fa fa-marker fa-lg"></i> Редактиране</a> |
                <a asp-action="Index" class="btn btn-outline-secondary"><i class="fa-solid fa-hand-point-left fa-lg"></i> Обратно към листа</a>
            </div> }
        else
        {
            <div>
                <a asp-controller="ServiceRequests" asp-action="Create" class="btn btn-outline-success">Резервирай</a><br /><br />
                <a asp-action="Index" class="btn btn-outline-secondary"><i class="fa-solid fa-hand-point-left fa-lg"></i> Обратно към услуги</a>
            </div>
        }

    </div>
</div>