@model IEnumerable<AdrenalineDP.Entities.Media>
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore
@using AdrenalineDP.Data
@using AdrenalineDP.Entities
 

@inject SignInManager<Users> SignInManager
@inject UserManager<Users> UserManager

@{
    ViewData["Title"] = "Index";
}
<style>
    th{
        padding:5px;
        color:white;
    }
    td{
        color:white;
    }
</style>
@if (SignInManager.IsSignedIn(User) && await UserManager.IsInRoleAsync(UserManager.GetUserAsync(User).Result, "admin"))
{
    <h1>Медия</h1>

    <p>
        <a asp-action="Create" class="btn btn-outline-info">Добавяне на медия</a>
    </p>
    <div class="text-center">
        <table class="table" style="background:rgb(122 32 32)">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Service)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Category)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FilePath)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Date)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Service.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FilePath)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary"><i class="fa fa-marker fa-lg"></i></a> |
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-success"><i class="fa-solid fa-book"></i></a> |
                            <a asp-action="Delete" asp-route-id="@item.Id" class=" btn btn-outline-danger"><i class="fa fa-trash-alt fa-lg"></i></a>
                        </td>
                    </tr>
                }



            </tbody>
        </table>
    </div>
}
else
{
    throw new InvalidOperationException("Нямате нужния достъп, за да редактирате тук");
    
}
 
